<div class="footer-basic">
  <footer>
      <div class="social"><a href="https://www.instagram.com/colakkemree/"><i class="icon ion-social-instagram"></i></a><a href="https://www.linkedin.com/in/emre-colak/"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com/colakkemreee"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/ecolak61/"><i class="icon ion-social-facebook"></i></a></div>
      
      <p class="copyright">Emre ÇOLAK © 2022</p>
  </footer>

</div>