<html>

  <%- include("./partials/head.ejs")  %> 

  <body>
    
    <%- include("./partials/nav.ejs") %> 

    <div class="about content">
      <h2>About Us</h2>
      <h3>What comes to your mind when say developer?</h3>
      <p>Developer is not occupation. Recently, Most of programmer making money as a professional. But concept of developer is actually connected with creativity. Like a art!  </p>
      <p>You heard right. That's is art! For something to be art, you must not benefit from it economically. In short, art is giving gift</p>
      <p>Developers actually make art in terms of adding their creativity to an existing thing.However, we are concerned about making money while doing this.</p>
      <p>At this point, those who see us as a professional group are right. But do not forget that when you give gifts to people for free, you can earn money from unexpectedly .</p>
    </div>

    <%- include("./partials/footer.ejs")  %> 
  </body>
</html>